<section id="451_area_prod_desc" class="container product-view-hardhat">
    <div class="col-md-5 col-collapse" ng-hide="!LineItem.Variant.PreviewUrl">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" style="margin-left: 0; margin-right: 0;">
                    <div class="col-sm-1 text-center" style="padding: 0;">
                        <div style="cursor: pointer;" class="fa fa-arrow-left fa-2x" ng-click="changeOrient(1)" />
                    </div>
                    <div class="col-sm-10 text-center" style="padding: 0;">
                        <figure>
                            <img style="margin: 0 auto; float: none;" ng-src="{{LineItem.Variant.PreviewUrl}}" />
                        </figure>
                    </div>
                    <div class="col-sm-1 text-center" style="padding: 0;">
                        <div style="cursor: pointer;" class="fa fa-arrow-right fa-2x" ng-click="changeOrient(-1)" />
                    </div>
                </div>
                <div class="btn-group">
                    <btn class="btn btn-default">Front</btn>
                    <btn class="btn btn-default">Left</btn>
                    <btn class="btn btn-default">Right</btn>
                    <btn class="btn btn-default">Back</btn>
                </div>
                <div class="alert alert-warning text-center">
                    <p class="text-center" style="margin-bottom: 10px;">
                        <strong>Choose your color</strong>
                    </p>
                    <div class="btn-group">
                        <btn class="btn" style=" background-color: white; " ng-click="changeColor(0)">&nbsp;</btn>
                        <btn class="btn " style=" background-color: yellow; " ng-click="changeColor(1)">&nbsp;</btn>
                        <btn class="btn" style=" background-color: blue; " ng-click="changeColor(2)">&nbsp;</btn>
                        <btn class="btn" style=" background-color: green;" ng-click="changeColor(3)">&nbsp;</btn>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <customfilefield customfield="LineItem.Variant.Specs.LogoFront"></customfilefield>
                    </div>
                    <div class="col-sm-6">
                        <customfilefield customfield="LineItem.Variant.Specs.LogoRight"></customfilefield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <customfilefield customfield="LineItem.Variant.Specs.LogoLeft"></customfilefield>
                    </div>
                    <div class="col-sm-6">
                        <customfilefield customfield="LineItem.Variant.Specs.LogoBack"></customfilefield>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 col-collapse">
        <h2 ng-show="LineItem.Product.ExternalID" style="margin:0;">
            {{LineItem.Product.ExternalID}}
        </h2>
        <div ng-show="LineItem.Product.Description">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title panel-primary">
                        Description
                    </h3>
                </div>
                <div class="panel-body">
                    <p ng-bind-html="trustedDescription(LineItem.Product)" />
                    <p ng-show="LineItem.Variant.Description" ng-bind-html="trustedDescription(LineItem.Variant)" />
                    <btn ng-hide="pricingSection == 'open'" ng-click="pricingSection = 'open'" class="btn btn-default">View Pricing</btn>
                    <btn ng-show="pricingSection == 'open'" ng-click="pricingSection = 'closed'" class="btn btn-default">Hide Pricing</btn>
                    <hr />
                    <div ng-show="pricingSection == 'open'" class="product-view-hardhat-pricing">
                        <p>
                            <strong>NOTE:</strong>
                            * Case Size is 20 hard hats<br />
                            ** Artwork Conversion Fee $ 100.<br />
                            *** For initial orders of a given logo, a one-time set-up charge will be applied to the order. The set-up charges are below:
                        </p>
                        <div class="col-sm-12 view-tr">
                            <div class="row">
                                <div class="col-sm-8">
                                    1 color logo:
                                </div>
                                <div class="col-sm-4">
                                    $75.00
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    2 color logo:
                                </div>
                                <div class="col-sm-4">
                                    $100.00
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    3 color logo:
                                </div>
                                <div class="col-sm-4">
                                    $125.00
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    4 color logo:
                                </div>
                                <div class="col-sm-4">
                                    $150.00
                                </div>
                            </div>
                        </div>
                        <h3>3M Hard Hat Custom Logo Imprint & Scotchlite Reflective Striping</h3>
                        <h4>Suggested List Price Page</h4>
                        <h5>Effective: June 11, 2013</h5>
                        <h6>Custom Logo</h6>
                        <p>
                            Imprint Charges for 3M H-700 Series and H-800 Series Hard Hats.<br />
                            Costs are added to the base price of the hat. Must order in case quantities.<br />
                        </p>
                        <div class="col-xs-12 view-tr">
                            <div class="row">
                                <div class="col-sm-2">Number of Locations</div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">Price Per</div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12">Quantity</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">1 Case <br /> 20 Each</div>
                                                <div class="col-sm-3">2 Cases  <br /> 40 Each</div>
                                                <div class="col-sm-3">3 - 4 Cases  <br /> 60-80 Each</div>
                                                <div class="col-sm-3">5+ Cases  <br /> 100 +</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">1 color per location</div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">Case</div>
                                        <div class="col-sm-2">$145.00</div>
                                        <div class="col-sm-2">$120.00</div>
                                        <div class="col-sm-2">$95.00</div>
                                        <div class="col-sm-2">$60.00</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">Each</div>
                                        <div class="col-sm-2">$7.25</div>
                                        <div class="col-sm-2">$6.00</div>
                                        <div class="col-sm-2">$4.75</div>
                                        <div class="col-sm-2">$3.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">2 color per location</div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">Case</div>
                                        <div class="col-sm-2">$165.00</div>
                                        <div class="col-sm-2">$140.00</div>
                                        <div class="col-sm-2">$115.00</div>
                                        <div class="col-sm-2">$80.00</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">Each</div>
                                        <div class="col-sm-2">$8.25</div>
                                        <div class="col-sm-2">$7.00</div>
                                        <div class="col-sm-2">$5.75</div>
                                        <div class="col-sm-2">$4.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">3 color per location</div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">Case</div>
                                        <div class="col-sm-2">$185.00</div>
                                        <div class="col-sm-2">$160.00</div>
                                        <div class="col-sm-2">$135.00</div>
                                        <div class="col-sm-2">$100.00</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">Each</div>
                                        <div class="col-sm-2">$9.25</div>
                                        <div class="col-sm-2">$8.00</div>
                                        <div class="col-sm-2">$6.75</div>
                                        <div class="col-sm-2"> $5.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">4 color per location</div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">Case</div>
                                        <div class="col-sm-2">$205.00</div>
                                        <div class="col-sm-2">$180.00</div>
                                        <div class="col-sm-2">$155.00</div>
                                        <div class="col-sm-2">$120.00</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">Each</div>
                                        <div class="col-sm-2">$10.25</div>
                                        <div class="col-sm-2"> $9.00</div>
                                        <div class="col-sm-2">$7.75</div>
                                        <div class="col-sm-2">$6.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="view-form-icon">
                        <quantityfield required="false" calculated="calcVariantLineItems" lineitem="LineItem" class="quantity" />
                    </div>
                    <div style="border: 1px solid #d6d6d6;text-align: center;height: 52px;" ng-show="LineItem.LineTotal > 0">
                        <small><span class="text-info">Total</span><br /><span class=" text-success">{{LineItem.LineTotal | currency}}</span></small>
                    </div>
                    <form name="addToOrderForm" novalidate="">
                        <div class="form-group view-form-icon" style="margin-top: 35px;">
                            <div>
                                <label class="required">Customer Name</label>
                                <customtextfield customfield="LineItem.Variant.Specs.CustomerName"></customtextfield>
                            </div>
                            <div>
                                <label>Distributor PO#</label>
                                <customtextfield customfield="LineItem.Variant.Specs.DistributorPO"></customtextfield>
                            </div>
                            <hr />
                            <p>
                                Distributor Information
                            </p>
                            <div>
                                <label>Name</label>
                                <customtextfield customfield="LineItem.Variant.Specs.DistributorName"></customtextfield>
                            </div>
                            <div>
                                <label>Contact</label>
                                <customtextfield customfield="LineItem.Variant.Specs.DistributorContact"></customtextfield>
                            </div>
                            <div>
                                <label>Phone</label>
                                <customtextfield customfield="LineItem.Variant.Specs.DistributorPhone"></customtextfield>
                            </div>
                            <div>
                                <label>Email</label>
                                <customtextfield customfield="LineItem.Variant.Specs.DistributorEmail"></customtextfield>
                            </div>
                        </div>
                        <button class="btn btn-success btn-block btn-lg"  type="submit" ng-click="addToOrder()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>